[submodule "deps/nix-haskell"]
	path = deps/nix-haskell
	url = git@github.com:georgefst/nix-haskell
[submodule "deps/reflex-dom"]
	path = deps/reflex-dom
	url = https://github.com/ymeister/reflex-dom.git
